.button {
    display: inline-flex;
    align-items: center;
    transition: all .3s ease;

    &--primary {
        font-family: var(--font-caps);
        text-transform: uppercase;
    }

    &--secondary, &--link {
        font-family: var(--font-regular);
        font-weight: 600;
        font-size: 1.6rem;
    }

    &--link {
        padding-inline: 0;
        line-height: 2.4rem;
        font-weight: 600;
    }

    &--gold {
        background-color: var(--clr-gold);
        color: var(--clr-light-gray);
        &:hover, &:focus {
            background-color: var(--clr-light-gold);
        }
    }

    &--cream {
        background-color: var(--clr-cream);
        color: var(--clr-gold);
        &:hover, &:focus {
            background-color: var(--clr-gold);
            color: var(--clr-cream);
        }
    }

    &--light-cream {
        background-color: var(--clr-light-cream);
        color: var(--clr-gold);
        &:hover, &:focus {
            background-color: var(--clr-cream);
        }
    }
    
    &--dark-green {
        background-color: var(--clr-dark-green);
        color: var(--clr-gold);
    }

    &--ivory {
        background-color: var(--clr-ivory);
        color: var(--clr-gold);
        &:hover, &:focus {
            background-color: var(--clr-gold);
            color: var(--clr-ivory);
        }
    }

    &--gold-gradient {
        background: linear-gradient(90deg, var(--clr-gold), var(--clr-light-gold));
        color: var(--clr-light-gray);
        &:hover, &:focus {
            background: linear-gradient(90deg, var(--clr-gold), var(--clr-gold));
        }
    }

    &--link-white {
        color: var(--clr-white);
        &:hover, &:focus {
            color: var(--clr-gold);
        }
    }

    &--length-long {
        padding-inline: 5rem;
    }

    &--length-medium {
        padding-inline: 3.8rem;
    }

    &--length-short {
        padding-inline: 3rem;
    }

    &--height-tall {
        line-height: 6rem;
        border-radius: 3rem;
        @media (min-width: 768px) {
            line-height: 8.6rem;
            border-radius: 4.3rem;
        }
    }

    &--height-medium {
        line-height: 4.2rem;
        border-radius: 2.1rem;
        @media (min-width: 768px) {
            line-height: 6.2rem;
            border-radius: 3.1rem;
        }
    }

    &--height-short {
        line-height: 3rem;
        border-radius: 1.5rem;
        @media (min-width: 768px) {
            line-height: 3.6rem;
            border-radius: 1.8rem;
        }
    }

    &--center {
        justify-content: center;
        gap: 1rem;
    }
    &--between {
        justify-content: space-between;
    }

    &--height-tall.button--primary {
        font-size: 3.4rem;
        @media (min-width: 768px) {
            font-size: 4.6rem;
        }
    }
    &--height-medium.button--primary {
        font-size: 2.4rem;
        @media (min-width: 768px) {
            font-size: 3.6rem;
        }
    }
    &--height-short.button--primary {
        font-size: 1.6rem;
        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    &__text {
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
    }

    &__icon {
        .button--link-white & {
            fill: var(--clr-gold);
        }
        .button--gold-gradient & {
            fill: var(--clr-light-gray);
        }
        .button--dark-green & {
            fill: var(--clr-gold);
        }
        &--arrow {
            width: .7rem;
            height: 1rem;
            position: relative;
            top: 1px;
        }
    }

}