.social {
    display: flex;
    align-items: center;
    gap: 2rem;
    .footer-navigation & {
        justify-content: flex-end;
    }
    &__link {
        display: block;
    }
    &__icon {
        fill: var(--clr-cream);
        transition: all .3s ease;
        &--email {
            width: 2.7rem;
            height: 1.8rem;
        }
        &--instagram {
            width: 2.6rem;
            height: 2.6rem;
        }
        &--youtube {
            width: 3.2rem;
            height: 2.4rem;
        }
        &--facebook {
            width: 2.6rem;
            height: 2.6rem;
        }
    }
    &__link:hover &__icon {
        fill: var(--clr-gold);
    }
}