<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="footer__content">
                <div class="logo">
                    <a href="" class="logo__link">
                        <img src="m/i/logo-vertical.svg" class="logo__media" alt="">
                    </a>
                </div>
                <div class="credentials">
                    <a href="" tel="">647-111-111</a>
                    <a href="" mailto="info@torontochessclub.com">info@torontochessclub.com</a>
                    <p>2532 yonge street</p>
                    <p>Toronto</p>
                </div>
                <div class="footer-navigation">
                    <div class="navigation">
                        <a href="" class="navigation__link">
                            <span class="navigation__link-text">Lessons</span>
                        </a>
                        <a href="" class="navigation__link active">
                            <span class="navigation__link-text">Tournaments</span>
                        </a>
                        <a href="" class="navigation__link">
                            <span class="navigation__link-text">Menus</span>
                        </a>
                        <a href="" class="navigation__link">
                            <span class="navigation__link-text">About us</span>
                        </a>
                        <a href="" class="navigation__link">
                            <span class="navigation__link-text">Contact</span>
                        </a>
                        <a href="" class="navigation__link">
                            <span class="navigation__link-text">Shop</span>
                        </a>
                    </div>
                    <div class="social">
                        <a href="" class="social__link">
                            <svg class="social__icon social__icon--email">
                                <use xlink:href="m/i/icons.svg#symbol-email"></use>
                            </svg>
                        </a>
                        <a href="" class="social__link">
                            <svg class="social__icon social__icon--instagram">
                                <use xlink:href="m/i/icons.svg#symbol-instagram"></use>
                            </svg>
                        </a>
                        <a href="" class="social__link">
                            <svg class="social__icon social__icon--youtube">
                                <use xlink:href="m/i/icons.svg#symbol-youtube"></use>
                            </svg>
                        </a>
                        <a href="" class="social__link">
                            <svg class="social__icon social__icon--facebook">
                                <use xlink:href="m/i/icons.svg#symbol-facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer__content">
                <p class="copy">
                    &copy; 2023 Toronto Chess Club. All Rights Reserved.
                </p>
                <div class="navigation">
                    <a href="" class="navigation__link">
                        <span class="navigation__link-text">Privacy Policy</span>
                    </a>
                    <a href="" class="navigation__link">
                        <span class="navigation__link-text">Terms &amp; Condition</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>